
 <div class="Products">
    <div class="Left-Container Container-LR">
        <!-- <button (click)="filteredByBrand()">B</button> -->
    </div>
    <div class="Right-Container Container-LR">
        <div  *ngFor="let product of prodsfilteredByBrand; let i of index">
            <div class="Product" [routerLink]="['/product/'+product.pId]">
                <div class="Image" style="display: flex;justify-content: center;">
                    <img src={{product.pImage}}_1 alt="pImage" style="height: 250px;object-fit: cover;">
                </div>
                <div class="Detail">
                    <div class="Detail-L">
                        <p class="Product-Brand" style="font-weight: bolder;font-size: 1.5rem;">{{product.pBrand}} {{product.pName}}</p>
                        <p style="font-weight: bolder;font-size: 1.25rem;">{{product.pSubCategory}}</p>
                        <h3>{{product.pCategory}}</h3>
                        <p>{{product.pDesc}}</p>
                        <!-- <p style="margin: 1.5rem 0;">A product description is the marketing copy used to describe a product's value proposition to potential customers. A compelling product description provides customers with details around features, problems it solves and other benefits to help generate a sale</p> -->
                    </div>
                    <div class="Detail-R">
                        <div class="Product-Price">{{product.pPrice | currency:'INR'}}</div>
                        <div class="Button-Product" (click)="showProductById(product)">View Product</div>
                        <div class="Button-Product" (click)="onCompareClick(product)">Add to compare</div>
                    </div>
                </div>
            </div>
        </div>
     </div>
 </div>