
 <div class="Right-Container">
    <div class="Product" *ngFor="let product of products; let i of index">
        <div class="Image">
            <img [src]="product.pImage1" alt="pImage" style="width: 100px; height: 200px;">
        </div>
        <div class="Detail">
                 <strong>{{product.pBrand}} {{product.pName}}</strong> <br>
                 <strong>{{product.pPrice}}</strong> <br> 
                 <button class="btn btn-outline-danger my-2" (click)="showProductById(product)">View Product</button> <br>
                 <input type="checkbox" name="compare" id="compareProduct" (click)="onCompareClick(product)"> Compare
        </div>
    </div>
 </div>