.Products{
    display: flex;
}
.Left-Container{
    width: 300px;
    margin-right: 1rem;
    padding: 1rem;
}
.Container-LR{
    border-radius: 0.15rem;
    background-color: white;
}
.Right-Container{
    width: calc(100% - 284px);
}
.Product{
    display: flex;
    height: 250px;
    padding: 1rem;
    border-style: solid;
    border-color: rgba(49,53,61,0.075);
    border-width: 0 0 0.25px 0;
    cursor: pointer;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Image{
    height: 250px;
    width: 250px;
    position: relative;
}
.Image p{
    position: absolute;
    height: 40px;
    background-color: rgba(255,255,255,0.35);
    color:red;
    width:250px;
    text-align: center;
    top:calc(50% - 20px);
    font-size: 1.25rem;
    font-weight: bolder;
    padding:1rem 0;
}
.Detail{
    height: 250px;
    width: calc(100% - 250px);
    margin-left: 1rem;
    display: flex;
}
.Detail-L{
    width:calc(100% - 216px);
}
.Detail-L,.Image:focus{
    outline: none;
    border: none;
}
.Detail-R{
    margin-left: 1rem;
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.Product:hover .Product-Brand{
    color: coral;
}
.Product-Price{
    font-size: 1.5rem;
    font-weight: bolder;
}
.Button-Product{
    background-color: rgba(146,205,214,0.75);
    padding:0.75rem 1.25rem;
    border-radius: 0.15rem;
    font-size: 1.05rem;
    font-weight: bolder;
    color: rgba(0,0,0,0.85);
}
.Left-Container button{
  padding:0.25rem 0.75rem;
  background-color: rgba(133,218,233,0.35);
  border: none;
  outline: none;
  border-radius: 0.15rem;
}
.Left-Container button:hover{
    background-color: rgba(133,218,233,0.5);
}
.Left-Container button:focus{
    background-color: rgb(108, 191, 206);
}
.Left-Container button{
    font-size: 0.75rem;
    font-weight: bolder;
    color: rgba(0,0,0,0.75);
}
#Reset{
    padding: 0.6rem 1rem;
    background-color:rgba(49,53,61,0.75);
    color:rgba(255,255,255,0.75);
}
#Reset:hover{
    background-color:rgba(49,53,61,0.5);
}

#Reset:focus{
    background-color:rgba(49,53,61,1);
}
.Left-Container input{
    border:none;
    background-color: rgb(228, 236, 238);
    border-radius: 0.15rem;
}
.Left-Container input:focus{
    border-style: solid;
    border-color: rgba(49,53,61,0.25);
    border-width: 0.25px;
}

.Message{
    position: absolute;
    width:300px;
    height: 75px;
    top:calc(50% - 37.5px);
    left:calc(50% - 150px);
    background-color: #EEF8F7;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    z-index: 200;
}
.Message p{
    font-size: 1.15rem;
    font-weight: bolder;
    text-align: center;
}
.Error{
    color:rgba(221, 37, 37, 0.85)
}
.success{
    color:rgba(111, 228, 130, 0.85);
}

@media (max-width:1300px){
    .Left-Container{
        width: 200px;
        margin-right: 0.5rem;
    }
    .Right-Container{
        width: calc(100% - 184px);
    }
    .Image{
        width: 220px;
    }
    .Detail{
        width:calc(100% - 236px);
    }
    .Detail-R{
        width:150px;
    }
    .Detail-L{
        width:calc(100% - 166px);
    }
    .Product-Price{
        font-size: 1.25rem;
    }
    .Button-Product{
        padding:0.5rem 1rem;
        border-radius: 0.15rem;
        font-size: 0.85rem;
        font-weight: bolder;
    }
}