<div class="Admin-Requests">
    <table>
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Category</th>
                <th>Sub-Category</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Stock</th>
                <th>Price/Unit</th>
                <th>Verify</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of productsforApproval;let i=index;">
                <td>{{i+1}}</td>
                <td>{{p.pCategory}}</td>
                <td>{{p.pSubCategory}}</td>
                <td>{{p.pBrand}}</td>
                <td>{{p.pName}}</td>
                <td>{{p.pStock}}</td>
                <td>{{p.pPrice}}</td>
                <td id="Admin-Button-td"><div class="Admin-Button" (click)="viewDesc(p)"><span style="margin-right: 0.5rem;"><i class="fa fa-eye" aria-hidden="true"></i></span>View</div></td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="descOpen" class="Description">
    <div style="display: flex;justify-content: flex-end;">
        <div class="Admin-Button" style="width:100px" (click)="closeDesc()">
            Close
        </div>
    </div>
    <div class="Desc">
        <div class="Desc-Image"><img src={{src}}_1></div>
        <div class="Desc-Image">
            {{desc}}
        </div>
    </div>
    <div>
        <div class="Admin-Button" (click)="approveProductF()"><span style="margin-right: 0.5rem;"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>Approve</div>
        <div class="Admin-Button" (click)="rejectProductF()"><span style="margin-right: 0.5rem;"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>Reject</div>
    </div>
</div>
