<footer>
    <div class="Footer">
        <div class="Footer-Wrapper">
            <div style="font-size: 0.95rem;color: whitesmoke;margin: 0.5rem;display: flex;justify-content: center;">
                <p style="text-align: center;margin: 1rem;"><a class="a" href="/about-us">About WingBuy</a></p>
                <p style="text-align: center;margin: 1rem;"><a class="a" href="https://docs.google.com/spreadsheets/d/1SYPgNcGUJmEnaKx-QMQpNRd1yQHHSaLwn8DFZ2dt8Q0/edit#gid=0">Scrum Board</a></p>
                <p style="text-align: center;margin: 1rem;"><a class="a" href="https://github.com/vijayEE1997/Gladiator_Online_Shopping">Git Hub</a></p>
                <p style="text-align: center;margin: 1rem;"><a class="a" href="https://erdplus.com/edit-diagram/e5ee418d-682b-4a68-8e94-b4d35270f92a">Schema Diagram</a></p>
            </div>
            <div className="footer-bottom">
                <p style="font-size: 0.75rem;color: whitesmoke;text-align: center;">Copyright © 2010-2020 WingBuy.<span>All rights reserved.</span></p>
            </div>
        </div>
    </div>
</footer>
