<div class="container py-5">
    <table>
        <tr *ngFor =" let cart of cartMyDTO">
            <td><img src="" alt="IMAGe" style="width:128px;height:128px;"></td>
            <td>{{cart.productdto.pName}}</td>
            <td>{{cart.productdto.pBrand}}</td>
            <td>{{cart.productdto.pPrice}}</td>
            <td>
                <button class="btn-warning" (click)="onMinusUpdateClick(cart.cId)">-</button> 
                <button >{{cart.cartdto.qty}}</button>
                <button  class="btn-warning"(click)="onAddUpdateClick(cart.cId)">+</button></td>
            <br>
            <td>{{cart.productdto.pPrice*cart.cartdto.qty}}</td>
            <td><button class="btn btn-danger">Delete item</button></td>
        </tr>
    </table>
    <button class="btn btn-warning my-2" [disabled]="buyProductButton" (click)="buyProductF()" >Buy Products</button> &nbsp;
    <strong>Your Total Cart Value is {{totalPrice}}</strong>
</div>