.Container-LR{
    border-radius: 0.15rem;
    background-color: white;
    width: 100%;
    min-height: calc(100vh - 232px);
}
.Products{
    display: flex;
    flex-wrap: wrap;
}
.Product-Main{
    width:calc(50% - 1.95px);
    border-style: solid;
    border-color: rgba(49,53,61,0.075);
    border-width: 0.25px;
}
.Product{
    display: flex;
    height: 200px;
    padding: 1rem;
    border-style: solid;
    border-color: rgba(49,53,61,0.075);
    border-width: 0 0 0.25px 0;
    cursor: pointer;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Image{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
}
.Detail{
    height: 200px;
    width: calc(100% - 200px);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}
.Q{
    display: flex;
    justify-content: flex-end
}
.Quantity{
    background-color: rgba(146,205,214,0.75);
    font-size: 1.05rem;
    padding: 0.5rem;
    font-weight: bolder;
    color: rgba(0,0,0,0.85);
    text-align: center;
    border-radius: 0.15rem;
    margin:0.1rem
}
.Button,.Button-Buy{
    background-color: rgba(146,205,214,0.75);
    font-size: 1.05rem;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    font-weight: bolder;
    color: rgba(0,0,0,0.85);
    text-align: center;
}
.Button-Buy{
    border:none;
    outline: none;
}
.Button-Buy:hover{
    border:none;
    outline: none;
}