<div class="container py-5" *ngIf="status">
    <table>
        <tr *ngFor =" let cart of cartMyDTO">
            <td><img src={{cart.productdto.pImage}}_1 alt="IMAGE" style="width:128px;height:128px;"></td>
            <td>{{cart.productdto.pName}}</td>
            <td>{{cart.productdto.pBrand}}</td>
            <td>{{cart.productdto.pPrice}}</td>
            <td>
                <button class="btn-warning" (click)="onMinusUpdateClick(cart.cartdto.cId)" [disabled]="cart.cartdto.qty==1">-</button> 
                <button >{{cart.cartdto.qty}}</button>
                <button  class="btn-warning"(click)="onAddUpdateClick(cart.cartdto.cId)" [disabled]="cart.cartdto.qty==cart.productdto.pStock">+</button></td>
            <br>
            <td>{{cart.productdto.pPrice*cart.cartdto.qty}}</td>
            <td><button class="btn btn-danger" (click)="delete(cart.cartdto.cId)">Delete item</button></td>
        </tr>
    </table>
    <button class="btn btn-warning my-2" [disabled]="buyProductButton" (click)="buyProductF()" >Buy Products</button> &nbsp;
    <strong>Your Total Cart Value is {{totalPrice}}</strong>
</div>
<div *ngIf="!status" style="width: 70px;height: 70px;margin: auto;">
    EMPTY
</div>