.Container-LR{
    border-radius: 0.15rem;
    background-color: white;
    width: 100%;
    min-height: calc(100vh - 232px);
}
.Products{
    display: flex;
    flex-wrap: wrap;
}
.Product-Main{
    width:calc(50% - 1.95px);
    border-style: solid;
    border-color: rgba(49,53,61,0.075);
    border-width: 0.25px;
}
.Product{
    position: relative;
    display: flex;
    height: 200px;
    padding: 1rem;
    border-style: solid;
    border-color: rgba(49,53,61,0.075);
    border-width: 0 0 0.25px 0;
    cursor: pointer;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Image{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
}
.Image:focus{
    border: none;
    outline: none;
}
.Detail{
    height: 200px;
    width: calc(100% - 200px);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}
.Q{
    display: flex;
    justify-content: flex-end
}
.Quantity{
    background-color: rgba(146,205,214,0.75);
    font-size: 1.05rem;
    padding: 0.5rem;
    font-weight: bolder;
    color: rgba(0,0,0,0.85);
    text-align: center;
    border-radius: 0.15rem;
    margin:0.1rem
}
.Button,.Button-Buy{
    background-color: rgba(146,205,214,0.75);
    font-size: 1.05rem;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    font-weight: bolder;
    color: rgba(0,0,0,0.85);
    text-align: center;
}
.Button-Buy{
    border:none;
    outline: none;
    cursor: pointer;
}
.Button-Buy:hover{
    border:none;
    outline: none;
}
.Button-Buy:hover,.Quantity:hover,.Button:hover{
    background-color: rgba(124, 208, 221,1);
}
.OUTOFSTOCK{
    position: absolute;
    width:calc(100% - 2rem);
    height:calc(100% - 2rem);
    background-color: rgba(255,255,255,0.45);
    display: flex;
    align-items: center;
    pointer-events: none;
}
.OUTOFSTOCK p{
    width:100%;
    color: red;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}
.buyProductsD{
    pointer-events: none;
    background-color: rgba(124, 208, 221,0.15);
}

.Pop-Container{
    position: fixed;
    top:120px;
    left:calc(50% - 625px);
    background-color: rgba(0,0,0,0.2);
    height:calc(100vh - 232px);
    width:1250px;
}

.Pop-container{
    width:50%;
    height:170px;
    margin:auto;
    margin-top:165px;
    background-color: #f1f2f6;
    border-radius: 0.25rem;
    padding:2rem;
    text-align: center;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popButton{
    width:150px;
    background-color: rgba(146,205,214,0.75);
    border-radius: 0.15rem;
    padding: 0.5rem 1.25rem;
    font-size: 1.05rem;
    font-weight: bolder;
    border:none;
    outline: none;
    margin:1rem 0;
}
.popButton:hover{
    background-color: rgba(146,205,214,1);
    transform: scale(1.05);
    border:none;
    outline: none;
}

.Message{
    position: absolute;
    width:300px;
    height: 75px;
    top:calc(50% - 37.5px);
    left:calc(50% - 150px);
    background-color: #EEF8F7;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}
.Message p{
    font-size: 1.15rem;
    font-weight: bolder;
    text-align: center;
}
.Error{
    color:rgba(221, 37, 37, 0.85)
}
.success{
    color:rgba(111, 228, 130, 0.85);
}