<h3 style="margin-bottom: 0.5rem;">Cart<span style="margin-left: 0.5rem;"><i class="fa fa-caret-right" aria-hidden="true"></i></span></h3>
<div class="Container-LR" *ngIf="status">
    <div class="Products" >
        <div  class="Product-Main" *ngFor =" let cart of cartMyDTO">
            <div class="Product">
                <!-- //Removing Out of Stock -->
                <div class="OUTOFSTOCK" *ngIf="cart.productdto.pStock==0">
                    <p>*Out of Stock</p>
                </div>
                <div class="Image" style="display: flex;justify-content: center;">
                    <img src={{cart.productdto.pImage}}_1 alt="IMAGE" style="max-height: 100%;max-width: 100%;object-fit:contain;">
                </div>
                <div class="Detail">
                    <p style="font-size: 1.5rem;font-weight: bolder;">{{cart.productdto.pName}}</p>
                    <p style="font-size: 1.25rem;font-weight: bolder;">{{cart.productdto.pBrand}}</p>
                    <div class="Q">
                        <div class="Quantity" (click)="onMinusUpdateClick(cart.cartdto.cId)" [disabled]="cart.cartdto.qty==1">-</div> 
                        <div class="Quantity">{{cart.cartdto.qty}}</div>
                        <div class="Quantity"(click)="onAddUpdateClick(cart.cartdto.cId)" [disabled]="cart.cartdto.qty==cart.productdto.pStock">+</div>
                        </div>
                    <p style="font-size: 1.15rem;font-weight: bolder;margin: 0.5rem 0;text-align: right;">{{cart.productdto.pPrice*cart.cartdto.qty | currency:"INR"}}</p>
                    <div class="Button" (click)="delete(cart.cartdto.cId)"><span style="margin-right: 0.5rem;"><i class="fa fa-trash" aria-hidden="true"></i></span>Delete Item</div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex;justify-content: flex-end;align-items: center;margin:1rem">
        <div style="margin-right:2rem;font-size: 1.45rem;">Amount to Pay:  <strong>{{totalPrice | currency:"INR" }}</strong></div>
        <button class="Button-Buy" [disabled]="buyProductButton" (click)="buyProductF()" >Buy Products</button> &nbsp;
    </div>
</div>
<div *ngIf="!status" style="width: 150px;height: 70px;left:48%;top:45%;position: absolute;">
    <p>Nothing to Show</p>
</div>
