<div>
    <form [formGroup]="addProductForm" (submit)="addPF()">
        <div class = "validate" *ngIf = "addProductForm.controls.pCategory.errors && (addProductForm.controls.pCategory.touched ||addProductForm.controls.pCategory.dirty)">galat</div>
        <label for="pCategory">Category</label>
        <select name="pCategory" id="pCategory" formControlName="pCategory">
            <option *ngFor="let p of pCategories;let i=index" [selected]="i==0" value={{p.Category}}>{{p.pCategory}}</option>
        </select>
        
        <div class = "validate" *ngIf = "addProductForm.controls.subCategory.errors && (addProductForm.controls.subCategory.touched ||addProductForm.controls.subCategory.dirty)">galat</div>
        <label for="subCategory">Sub Category</label>
        <select name="subCategory" id="subCategory" formControlName="subCategory">
            <option *ngFor="let p of pCategories;let i=index" [selected]="i==0" value={{p.Category}}>{{p.pCategory}}</option>
        </select>
        <label>Brand</label>
        <input type="text" formControlName="pBrand">
        <label>Model</label>
        <input type="text" formControlName="pName">
        <label>Price</label>
        <input type="number" formControlName="pPrice">
        <label>Desc</label>
        <input type="textarea" formControlName="pDesc">
        <label>Stock</label>
        <input type="number" formControlName="pStock">
        <label>Image 1</label>
        <input type="file" formControlName="pImage1">
        <label>Image 2</label>
        <input type="file" formControlName="pImage2">
        <button>Add</button>
    </form>
</div>
