.Retailer-Profile{
    width:100%;
    height: 100%;
    display: flex;
    border-radius: 0.25rem;
    background-color: #31353D;
}
.Retailer-Panel,.Retailer-Container{
    border-radius: 0.25rem;
    padding:1rem;
}
.Retailer-Panel{
    width:200px;
    background-color: #31353D;
}
.Retailer-Container{
    width:calc(100% - 200px);
    background-color: rgba(255,255,255,0.9);
}
.Retailer-Panel h2{
    color: rgba(255,255,255,0.9);;
}
.Admin-Button{
    background-color: #E35F21;
    margin: 1rem 0;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    color: rgba(0,0,0,0.85);
    cursor: pointer;
}
.Admin-Button:hover,.Admin-Button-click{
    background-color: rgba(227,95,33,0.75);
    color: rgba(255,255,255,0.9);
}