<div class="Retailer-Profile">
    <div class="Retailer-Panel">
        <div><h2>Retailer Profile</h2></div>
        <div class="Admin-Button" (click)="addProductF()" [class.Admin-Button-click]="addProduct"><span style="margin-right: 0.5rem;"><i class="fa fa-file" aria-hidden="true"></i></span>Add Product</div>
        <div class="Admin-Button" (click)="myProductsF()" [class.Admin-Button-click]="myProducts"><span style="margin-right: 0.5rem;"><i class="fa fa-th" aria-hidden="true"></i></span>My Products</div>
        <div class="Admin-Button" (click)="myProfitF()" [class.Admin-Button-click]="myProfit"><span style="margin-right: 0.5rem;"><i class="fa fa-signal" aria-hidden="true"></i></span>My Profit</div>
        <div class="Admin-Button" (click)="myAccountF()" [class.Admin-Button-click]="myAccount"><span style="margin-right: 0.5rem;"><i class="fa fa-user" aria-hidden="true"></i></span>My Account</div>
    </div> 
    <div class="Retailer-Container">
        <h3  *ngIf="addProduct" style="margin-bottom: 0.5rem;">Add Product<span style="margin-left: 0.5rem;"><i class="fa fa-caret-right" aria-hidden="true"></i></span></h3>
        <h3  *ngIf="myProducts" style="margin-bottom: 0.5rem;">My Products<span style="margin-left: 0.5rem;"><i class="fa fa-caret-right" aria-hidden="true"></i></span></h3>
        <h3  *ngIf="myProfit" style="margin-bottom: 0.5rem;">My Profit<span style="margin-left: 0.5rem;"><i class="fa fa-caret-right" aria-hidden="true"></i></span></h3>
        <h3  *ngIf="myAccount" style="margin-bottom: 0.5rem;">My Account<span style="margin-left: 0.5rem;"><i class="fa fa-caret-right" aria-hidden="true"></i></span></h3>
    </div>
 </div>