<div class="Admin-Products">
    <table>
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Category</th>
                <th>Sub-Category</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Stock</th>
                <th>Price/Unit</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products;let i=index;">
                <td>{{i+1}}</td>
                <td>{{p.pCategory}}</td>
                <td>{{p.pSubCategory}}</td>
                <td>{{p.pBrand}}</td>
                <td>{{p.pName}}</td>
                <td>{{p.pStock}}</td>
                <td>{{p.pPrice}}</td>
                <td id="Admin-Button-td"><div class="Admin-Button" (click)="viewDesc(p)">View<span style="margin-left: 0.5rem;"><i class="fa fa-eye" aria-hidden="true"></i></span></div></td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="descOpen" class="Description">
    <div style="display: flex;justify-content: flex-end;">
        <div class="Admin-Button" (click)="closeDesc()">
            <span><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="Desc">
        <div class="Desc-Image"><img src={{src}}_1></div>
        <div class="Desc-Detail">
            {{desc}}
        </div>
    </div>
</div>
