<div class="Orders" *ngIf="status">
    <table>
        <th>Order</th>
        <th>OId</th>
        <th>Purchase Date</th>
        <th>Delivery Date</th>
        <th>Amount</th>
        <th>Units</th>
        <th>Pay Id</th>
        <th>Pay Type</th>
        <th>Address</th>
        <tr *ngFor =" let p of orders;let i=index" [routerLink]="['/order/'+p.oId]">
            <td>{{i+1}}</td>
            <td>O{{p.oId}}</td>
            <td>{{p.oPurchaseDate}}</td>
            <td>{{p.oDeliveryDate}}</td>
            <td>{{p.oPrice | currency:'INR'}}</td>
            <td>{{p.oQty}}</td>
            <td>P{{p.payment.payId}}</td>
            <td>{{p.payment.payType}}</td>
            <td>{{p.payment.pUser.uAddress}}</td>
        </tr>
    </table>
</div>
<div *ngIf="!status" style="width: 70px;height: 70px;margin: auto;">
    No Order
</div>