<div class="Admin-Requests">
    <table class="Retailer">
        <tr>
            <td class="label">Retailer  ID</td>
            <td class="content">{{retailer.rId}}</td>
        </tr>
        <tr>
            <td class="label">Name</td>
            <td class="content">{{retailer.rName}}</td>
        </tr>
        <tr>
            <td class="label">Email</td>
            <td class="content">{{retailer.rEmail}}</td>
        </tr>
        <tr>
            <td class="label">Mobile</td>
            <td class="content">{{retailer.rMobile}}</td>
        </tr>
    </table>
</div>