.Admin-Retailer{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:calc(100vh - 232px);
    border-radius: 0.25rem;
    overflow: auto;
}
.Admin-Retailer table{
    width: 100%;
}
.Admin-Retailer th,.Admin-Retailer td{
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}
.Admin-Retailer th{
    background-color: #31353D;
    color: rgba(255,255,255,0.9);
    font-size: 0.85rem;
}
.Admin-Retailer td{
    color: rgba(0,0,0,0.9);
    background-color: rgba(255,255,255,0.85);
    font-size: 0.85rem;
}
.Admin-Retailers{
    width: 100%;
}
#Admin-Button-td{
    padding: 0;
    text-align: center;
}
.Admin-Button{
    background-color: #E35F21;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: rgba(0,0,0,0.85);
    cursor: pointer;
}
.Admin-Button:hover{
    background-color: rgba(227,95,33,0.75);
}
.Input{
    width:100%;
    padding: 0;
    margin:0 ;
    outline: none;
    border: none;
}