<div class="Login-Page">
  <div class="Login-Left Login-LR">
    <h2>Login</h2>
    <p>Enjoy the Premium experience, Get access to your Orders, Wishlist and Cart</p>
    <img src="../assets/Images/LOGO.png">
  </div>
  <div class="Login-Right Login-LR">
    <form class="Form-group" [formGroup]="loginForm" (ngSubmit)="onLogin()" >
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email">
        <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
            <div class="text-danger" *ngIf="loginForm.controls.email.errors.required">Email is required</div>
          </div>
          
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd">
        <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
            <div class="text-danger" *ngIf="loginForm.controls.password.errors.required">Password is required</div>
          </div>
      </div>
      <div class="form-group">
        <button class="Login-Page-LButton">
          <!-- [disabled]="loading" -->
          <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
          Login
        </button>&nbsp; &nbsp;
        <button class="Login-Page-LButton" (click)="goToRegister()">Register</button>
        <a href="/forgotpassword" class="Login-Page-Link">Forgot Password?</a>
      </div>
    </form>
  </div>
</div>