<a href="" class="Sidebar-Link"><div class="Sidebar-Link-Button"><span style="margin-right: 0.5rem;"><i class="fa fa-th-large" aria-hidden="true"></i></span>All Categories</div></a>
<a href="" class="Sidebar-Link"><div class="Sidebar-Link-Button"><span style="margin-right: 0.5rem;"><i class="fa fa-database" aria-hidden="true"></i></span>My Orders</div></a>
<a href="/MyCart" class="Sidebar-Link"><div class="Sidebar-Link-Button"><span style="margin-right: 0.5rem;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>My Cart</div></a>
<a href="" class="Sidebar-Link"><div class="Sidebar-Link-Button"><span style="margin-right: 0.5rem;"><i class="fa fa-heart" aria-hidden="true"></i></span>My Wishlist</div></a>
<a href="" class="Sidebar-Link"><div class="Sidebar-Link-Button"><span style="margin-right: 0.5rem;"><i class="fa fa-user" aria-hidden="true"></i></span>My Account</div></a>
<a href="/login" class="Sidebar-Link"><div class="Sidebar-Link-Button"><span style="margin-right: 0.5rem;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>Sign-In</div></a>
<a href="" class="Sidebar-Link"><div class="Sidebar-Link-Button"><span style="margin-right: 0.5rem;"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></span>Sign-Out</div></a>
