.Product{
    width:calc(100% - 2rem);
    padding: 1rem;
    height: calc(100vh - 232px);border-radius: 0.15rem;
    background-color: white;
    display: flex;
    align-items: center;
}
.Image{
    width: 400px;
    margin-right:1rem;
    display: flex;
    justify-content: center;
}
.Details{
    width: calc(100% - 416px);
    padding:1rem;
}
.Product-Button{
    display: flex;
    justify-content: center;
}
.Button-Product{
    background-color: rgba(146,205,214,0.75);
    padding:0.5rem 1.25rem;
    border-radius: 0.15rem;
    font-size: 1.05rem;
    font-weight: bolder;
    color: rgba(0,0,0,0.85);
    margin:0 1rem;
    text-align: center;
    width:200px;
    border:none;
    outline: none;
    cursor: pointer;
}
.Button-Product:hover,.Button-Product:focus{
    background-color: rgba(124, 208, 221,1);
}
.Error,.success{
    font-size: 0.75rem;
    font-weight: bolder;
}
.Error{
    color: red;
}
.success{
    color: green;
}