<div class="Admin-Profile">
   <div class="Admin-Panel">
       <div><h2>Admin Profile</h2></div>
       <div class="Admin-Button"><span style="margin-right: 0.5rem;"><i class="fa fa-th" aria-hidden="true"></i></span>Products</div>
       <div class="Admin-Button"><span style="margin-right: 0.5rem;"><i class="fa fa-file" aria-hidden="true"></i></span>Requests</div>
       <div class="Admin-Button"><span style="margin-right: 0.5rem;"><i class="fa fa-user" aria-hidden="true"></i></span>Retailers</div>
   </div> 
   <div class="Admin-Container">
        <add-retailer></add-retailer>    
   </div>
</div>