.hide{
    display: none;
}
.Payment-Page{
    width:500px;
    height: 500px;
    position: absolute;
    top:calc(50% - 250px);
    left:calc(50% - 250px);
}
.Payment{
    background-color: white;
    padding:1rem;
    border-radius: 0.15rem;
}
button,button:focus{
    border:none;
    outline: none;
    padding: 0.45rem 1.25rem;
    border-radius: 0.15rem;
}
button{
    background-color: rgba(146,205,214,0.75);
    font-weight: bolder;
    color: rgba(0,0,0,0.85);
}
button:hover{
    background-color: rgba(146,205,214,0.95);
    cursor: pointer;
}
button:focus{
    background-color: rgba(76, 165, 179, 0.95);
}
.Payment input,.Payment textarea{
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem;
    background-color: #f1f3f6;
    border-radius: 0.15rem;
}
.Payment input:focus,.Payment textarea:focus{
    border-style: solid;
    border-color: rgba(0,0,0,0.25);
    border-width: 0.25px;
}
.Payment textarea{
    width:60%;
}