<div class="Login-Page">
    <div class="Login-Left Login-LR">
      <h2>Forgot Password</h2>
      <p>Dont worry!<br> We are here to help you</p>
      <img src="../assets/Images/LOGO.png">
    </div>
    <div class="Login-Right Login-LR">
      <form *ngIf="step1" class="Form-group" [formGroup]="forgotForm">
        <select name="User" id="#">
            <option selected="selected" value="user">User</option>
            <option value="admin">Admin</option>
            <option value="retailer">Retailer</option>
        </select>
        <div class="form">
            <input type="email" formControlName="email" class="form-control" name="email" id="email" required/>
            <label for="email" class="label-name">
                <span class="label-content">Email</span>
            </label>
        </div>
        <div class="form">
            <button  class="Login-Page-LButton" (click)="generateOTP()">
                Generate OTP
            </button>
        </div>
    </form>
    <form *ngIf="step2" class="Form-group" [formGroup]="forgotForm">
        <div class="form">
            <input type="password" formControlName="password" class="form-control input-l" name="password" id="password" required />
            <label for="password" class="label-name">
                <span class="label-content">Password</span>
            </label>
        </div>
        <div class="form">
            <input type="password" formControlName="cpassword" class="form-control input-l"  name="cpassword" id="cpassword" required/>
            <label for="cpassword" class="label-name">
                <span class="label-content">Confirm Password</span>
            </label>
        </div>
        <div class="form">
            <button  class="Login-Page-LButton" (click)="resetPassword()">
                Reset Password
            </button>
        </div>
    </form>
       

       <!--  <div class="form">
            <input type="text" id="recievedOTP" class="form-control" placeholder="OTP" required name="recievedOTP">
          </div>
          -->
    </div>
  </div>