.Login-Page{
    display: flex;
    height: 500px;
    width:650px;
    position: absolute;
    top:calc(50% - 250px);
    left:calc(65% - 325px);
    border-radius: 0.25rem;
    background-color: #31353D;
    font-family: Arial, Helvetica, sans-serif;
    animation: slide-open-register 350ms forwards;
}
@keyframes slide-open-register{
    100% { left:calc(50% - 325px);}
}
.Login-LR{
    border-radius: 0.25rem;
    padding: 1.25rem;
}
.Login-Left{
    width:40%;
    background-color: #31353D;
    color: rgba(255,255,255,0.85);
}
.Login-Left h2{
    font-size: 1.75rem;
    font-weight: lighter;
    margin:1rem auto;
}
.Login-Left p{
    font-size: 1rem;
    line-height: 1.7;
}
.Login-Left img{
    width:calc(260px - 3rem);
    object-fit: cover;
    margin:1rem auto;
}
.Login-Right{
    width:60%;
    background-color: rgb(255,255,255,0.9);
}.Form-group{
    padding: 2rem 1rem;
    height: calc(500px - 8rem);
    border-radius: 0.25rem;
    background-color: rgb(232, 240, 254);
}
.form{
    position: relative;
    height: 50px;
    width:100%;
    margin-bottom: 1rem;
}
.error{
    background-color: rgb(232, 240, 254);
    text-align: center;
    font-size: 0.75rem;
    color:  rgb(232, 240, 254);
}
.error-occur{
    color:red;
}
.form input{
    width:100%;
    height: 100%;
    color:black;
    padding-top: 10px;
    border:none;
    outline: none;
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(232, 240, 254);
}
.form label{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #E35F21;
    overflow: hidden;
}
.form label::after{
    content:"";
    position: absolute;
    height: 100%;
    width:100%;
    border-bottom: 3px solid #E35F21;
    bottom: -1px;
    left:0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.label-content{
    position: relative;
    font-size: 0.85rem;
    font-weight: bolder;
    bottom:0;
    left:0;
    transition: all 0.3s ease;
}
.form input:focus + .label-name .label-content,.form input:valid + .label-name .label-content{
    transform: translateY(-150%);
    font-size: 0.65rem;
    color:#E35F21;
}
.form input:focus + .label-name::after, .form input:valid + .label-name::after{
    transform: translateX(0);
}
.Login-Page-LButton{
    margin:1rem auto 0 auto;
    padding: 0.5rem 1.25rem;
    width:100%;
    border:none;
    border-radius: 0.25rem;
    background-color: #E35F21;
}
.Login-Page-LButton:hover,.Login-Page-LButton:focus{
    background-color: rgba(227,95,33,0.75);
    outline:none;
}
.Login-Page-Link{
    text-decoration: none;
    color: #E35F21;
    margin:0.75rem;
}
.Invalid{
    pointer-events: none;
}
.validate{
    height: 0.75rem;
}
.validate p{
    color: red;
    font-size: 0.65rem;
}