<div class="Login-Page">
    <div class="Login-Left Login-LR">
      <h2>Register</h2>
      <p>Get access to your Orders, Wishlist, Cart and enjoy Premium experience</p>
      <img src="../assets/Images/LOGO.png">
    </div>
    <div class="Login-Right Login-LR">
      <form  [formGroup]="registerForm" class="Form-group" (ngSubmit)="register()">
        <div class="form-group">
            <label for="username" class="form-control label-l">Username</label>
            <input type="text" formControlName="uName" id="username" class="form-control input-l"  />
            <span class="text-danger"
            *ngIf="(registerForm.uName.touched || submitted) && registerForm.uName.errors?.required">
            User Name is required
        </span>
            <!-- [ngClass]="{ 'is-invalid': submitted && f.username.errors }" -->
            <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div> -->
        </div>
        <div class="form-group">
            <label for="email" class="form-control label-l">Email</label>
            <input type="email" formControlName="uEmail" id="email" class="form-control input-l"  />
            <span class="text-danger"
            *ngIf="(registerForm.uEmail.touched || submitted) && registerFormControl.uEmail.errors?.required">
            Email is required
            </span>
            <span class="text-danger"
            *ngIf="registerForm.uEmail.touched && registerFormControl.uEmail.errors?.email">
            Enter a valid email address
            </span>
            <!-- [ngClass]="{ 'is-invalid': submitted && f.username.errors }" -->
            <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div> -->
        </div>
        <div class="form-group">
            <label for="password" class="form-control label-l" >Password</label>
            <input type="password" formControlName="uPassword" id="password" class="form-control input-l"  />
            <span class="text-danger"
            *ngIf="(registerForm.uPassword.touched || submitted) && registerFormControl.uPassword.errors?.required">
            Password is required
        </span>
        <span class="text-danger"
            *ngIf="registerForm.uPassword.touched && registerFormControl.uPassword.errors?.invalidPassword">
            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
            letter and 1 number
        </span>
            <!-- [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div> -->
        </div>
        <div class="form-group">
            <label for="mobile" class="form-control label-l">Mobile</label>
            <input type="text" formControlName="uMobile" id="mobile" class="form-control input-l"  />
            <span class="text-danger"
            *ngIf="(registerForm.uMobile.touched || submitted) && registerFormControl.uMobile.errors?.required">
            Mobile Number is required
        </span>
        <!-- <span class="text-danger"
            *ngIf="registerForm.password.touched && registerFormControl.password.errors?.invalidPassword">
            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
            letter and 1 number
        </span> -->

            <!-- [ngClass]="{ 'is-invalid': submitted && f.username.errors }" -->
            <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div> -->
        </div>
        <div class="form-group">
            <button class="Login-Page-LButton" >Register</button>&nbsp; &nbsp;
            <button  class="Login-Page-LButton">
                <!-- [disabled]="loading" -->
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                  Login
              </button>
        </div>
    </form>
    </div>
  </div>