.Container{
    margin-top:65px;
    position: relative;
    height: calc(100vh - 200px);
    margin-left: auto;
    margin-right: auto;
    padding:1rem 0;
}
@media (min-width:1023px){
    .Container{
        width: 974px;
    }
}
@media (min-width:1300px){
    .Container{
        width: 1250px;
    }
}
@media (max-width:1023px){
    .Container{
        width:calc(100% - 2rem);
    }
}
@media (max-width:450px){
    .Container{
        margin-top:60px;
    }
}