<h3 style="margin-bottom: 0.5rem;">Wishlist<span style="margin-left: 0.5rem;"><i class="fa fa-caret-right" aria-hidden="true"></i></span></h3>
<div class="Products" *ngIf="status">
    <div class="Product" *ngFor=" let wishlist of wishMyDTO" >
        <div class="Image" [routerLink]="['/product/'+wishlist.productdto.pId]">
            <img src={{wishlist.productdto.pImage}}_1 style="max-height: 100%;max-width: 100%;object-fit:contain;">
        </div>
        <div class="Detail">
            <p style="font-size: 1.5rem;font-weight: bolder;">{{wishlist.productdto.pBrand}} {{wishlist.productdto.pName}}</p>
            <p style="font-size: 1.5rem;font-weight: bolder;margin: 1rem 0;">{{wishlist.productdto.pPrice | currency:"INR"}}</p>
            <p style="font-size: 0.95rem;font-weight: bolder;color: red;margin-left:10rem" *ngIf="wishlist.productdto.pStock==0">*Out of stock</p>
            <div style="display: flex;justify-content: flex-end;">
                <div class="Button-Product" (click)="addToCartF(wishlist)"><span style="margin-right: 0.5rem;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>Add To Cart</div>
                <div class="Button-Product" (click)="deleteF(wishlist)"><span style="margin-right: 0.25rem;"><i class="fa fa-trash" aria-hidden="true"></i></span>Delete Item</div>
            </div>
        </div>        
    </div>
</div>
<div *ngIf="!status" style="width: 150px;height: 70px;left:48%;top:45%;position: absolute;">
    <p>Nothing to Show</p>
</div>